In [18]:
import os
import gdown

In [19]:
# data_folder = "data"

# # Check whether the specified path exists or not
# isExist = os.path.exists(data_folder)
# if not isExist:
#     # Create a new directory because it does not exist
#     os.makedirs(data_folder)
#     print(f"New directory {data_folder} created!")

In [20]:
# gdown.download( url="https://drive.google.com/file/d/1wtogytIpZC74Tq6s1GWaPWY3VBhmOrJy/view?usp=sharing",
                # output="data/spam_ham_dataset.csv", quiet=False, fuzzy=True)

In [40]:
import pandas as pd
import utils
from preprocessing import preprocess_data

In [41]:
utils.download_data()

In [42]:
df = pd.read_csv(utils.output)
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [43]:
df = preprocess_data(df)
df.head()

AttributeError: 'NoneType' object has no attribute 'drop'